@font-face {
  font-family: roboto;
  src: url(Roboto-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: roboto;
}

body {
  display: grid;
  grid-template-rows: 100px 1fr 50px;
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

.header {
  grid-column: span 2;
  background-color: #7f1d1d;
  color: white;
  height: 100px;
  display: flex;
  padding-left: 30px;
  align-items: center;
  font-size: 42px;
}

.header img {
  padding-right: 25px;
}

.side-menu {
  display: flex;
  flex-direction: column;
  background-color: #fee2e2;
  padding: 25px;
  gap: 8px;
}
.side-menu h3 {
  margin: 25px 0;
}

.side-menu .button,
.card {
  display: flex;
  gap: 5px;
  align-items: center;
  height: 40px;
  font-size: 18px;
  border-radius: 12px;
  padding-left: 5px;
  cursor: pointer;
}
.side-menu img {
  height: 1.5rem;
}
.side-menu .button:hover {
  background-color: #fecaca;
}

.projects-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#openPMenu {
  background-color: #fee2e2;
  display: flex;
  border: none;
  font-size: 32px;
  height: 40px;
  width: 40px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

#openPMenu:hover {
  background-color: #f19898;
  cursor: pointer;
}

#openPMenu:active {
  background-color: #d88888;
  cursor: pointer;
}

.new-project {
  display: none;
  flex-direction: column;
  gap: 1px;
}

.new-project input {
  border: 2px solid #7f1d1d;
  border-radius: 6px;
  height: 30px;
}

.new-project-btn {
  display: flex;
  gap: 1px;
}

#addProject,
#addTask {
  background-color: #a5eca5;
  border: 2px solid #507250;
  border-radius: 6px;
  color: #3e583e;
  font-size: 16px;
}

#addProject {
  height: 30px;
  width: 50%;
}

#addProject:hover,
#addTask:hover {
  background-color: #c1ecc1;
  border: 2px solid #2c3f2c;
}

#addProject:active,
#addTask:active {
  background-color: #cfe9cf;
}

#addTask {
  display: none;
  padding: 0 15px;
  font-size: 32px;
  align-items: center;
  height: 40px;
}

#closePMenu {
  height: 30px;
  width: 50%;
  background-color: #f0aeae;
  border: 2px solid #6b0d0d;
  border-radius: 6px;
  color: #6b0d0d;
  font-size: 16px;
}

#closePMenu:hover {
  background-color: #eebdbd;
  border: 2px solid #3f2c2c;
}

#closePMenu:active {
  background-color: #ebc6c6;
}

.projects {
  display: grid;
  max-height: 400px;
  grid-template-columns: 1fr;
  grid-auto-rows: 40px;
  row-gap: 10px;
  overflow-y: auto;
}

.card:hover {
  background-color: #fecaca;
}

#deletebtn {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #fecaca;
  border: none;
  font-size: 25px;
  width: 40px;
  height: 40px;
  border-radius: 0 12px 12px 0;
  margin-left: auto;
}

#deletebtn:hover {
  background-color: #f3adad;
  cursor: pointer;
}

#deletebtn:active {
  background-color: #f19898;
}

.card:hover #deletebtn {
  display: flex;
}

.content {
  padding: 0 10%;
}

.task-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  height: 80px;
}

.new-task {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.task-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 50px;
  gap: 8px;
  height: 630px;
  overflow-y: auto;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 0 10px;
}

.task:hover {
  background-color: #fee2e2;
}

.task.L {
  border-left: 12px solid #00b400;
}

.task.M {
  border-left: 12px solid #ff7b00;
}

.task.H {
  border-left: 12px solid #ff0000;
}

.form,
.form-edit {
  display: none;
  flex-direction: column;
  padding: 0 24px;
  position: absolute;
  width: 400px;
  height: 500px;
  background-color: #7f1d1d;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 24px;
  box-shadow: 0px 0px 15px rgb(82, 82, 82);
  color: white;
  justify-content: space-around;
}

.form h1,
.form-edit h1 {
  margin: 0 auto;
  padding: 8px 0;
}

.form input,
.form-edit input {
  height: 34px;
  border-radius: 8px;
  border: 2px solid #d88888;
}

.form input:focus,
.form-edit:focus {
  border: 2px solid #000000;
  outline: none;
}

.priority input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

#lhigh {
  display: inline-block;
  background-color: #ffd6d6;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #ff0000;
  color: #ff0000;
  border-radius: 4px;
}

.priority input[type="radio"]:checked + #lhigh {
  background-color: #ff0000;
  border-color: #ff0000;
  color: white;
}

.priority input[type="radio"]:focus + #lhigh {
  border: 2px dashed #ffffff;
}

#lmedium {
  display: inline-block;
  background-color: #ffefe0;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #ff7b00;
  color: #ff7b00;
  border-radius: 4px;
}

.priority input[type="radio"]:checked + #lmedium {
  background-color: #ff7b00;
  border-color: #ff7b00;
  color: white;
}

.priority input[type="radio"]:focus + #lmedium {
  border: 2px dashed #ffffff;
}

#llow {
  display: inline-block;
  background-color: #e1ffe0;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #00b400;
  color: #00b400;
  border-radius: 4px;
}

.priority input[type="radio"]:checked + #llow {
  background-color: #00b400;
  border-color: #00b400;
  color: white;
}

.priority input[type="radio"]:focus + #llow {
  border: 2px dashed #ffffff;
}

#finish,
#hide {
  padding: 0 40px;
  height: 40px;
  margin-top: 20px;
  border-radius: 8px;
  border: 2px solid #fee2e2;
  font-size: 16px;
  color: #7f1d1d;
}

.action {
  display: flex;
  justify-content: space-around;
  gap: 8px;
}

#finish:hover,
#hide:hover {
  background-color: #fee2e2;
  border: 2px solid #fee2e2;
  cursor: pointer;
}

#finish:active,
#hide:active {
  background-color: #dac1c1;
  border: 2px solid #dbc3c3;
}

.footer {
  grid-column: span 2;
  background-color: #7f1d1d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
