@font-face {
  font-family: roboto;
  src: url(Roboto-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: roboto;
}

body {
  display: grid;
  grid-template-rows: 100px 1fr 50px;
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

.header {
  grid-column: span 2;
  background-color: #7f1d1d;
  color: white;
  height: 100px;
  display: flex;
  padding-left: 10px;
  align-items: center;
  font-size: 42px;
}

.header img {
  padding-right: 25px;
}

.side-menu {
  display: flex;
  flex-direction: column;
  background-color: #fee2e2;
  padding: 25px;
  gap: 8px;
}
.side-menu h3 {
  margin: 25px 0;
}

.side-menu .button,
.card {
  display: flex;
  gap: 5px;
  align-items: center;
  height: 40px;
  font-size: 18px;
  border-radius: 12px;
  padding-left: 5px;
  cursor: pointer;
}
.side-menu img {
  height: 1.5rem;
}
.side-menu .button:hover {
  background-color: #fecaca;
}

.projects {
  display: grid;
  max-height: 500px;
  grid-template-columns: 1fr;
  grid-auto-rows: 40px;
  row-gap: 10px;
  overflow-y: auto;
}

.card:hover {
  background-color: #fecaca;
}

.footer {
  grid-column: span 2;
  background-color: #7f1d1d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
